name: "GitHub Payload Test"
on:
  repository_dispatch:
    types: "payload-test"
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "payload: ${{ toJson(github.event.client_payload) }}"'
